{% extends "forum/base.html" %}

{% block sectionHeader %}
{% load app_filters %}
{% autoescape off %}{{ question.question_title|replaceimage|urlize }}{% endautoescape %}
| <a href="{% url 'forum:rss' question.id %}" method="post">RSS</a>
{% if user.username == question.creator.username %}
| <a href="{% url 'forum:editquestion' question.id %}" method="post">EDIT</a>
{% endif %}
{% endblock %}

{% block sectionText %}
{% load app_filters %}
{% autoescape off %}{{ question.question_text|replaceimage|urlize }}{% endautoescape %}<br />
<b>Asked by {{ question.creator }} on {{ question.pub_date|date:'Y-m-d H:i' }} | Last modified on {{ question.mod_date|date:'Y-m-d H:i' }} | Votes: {{ question.votes }} | <a href="{% url 'forum:votequestionup' question.id %}" method="post">Vote Up</a> | <a href="{% url 'forum:votequestiondown' question.id %}" method="post">Vote Down</a><br />
Tags: 
{% for tag in question.tags.all %}
{% if tag.tag_text and tag.tag_text.strip %}
	# <a href="{% url 'forum:filter_tag' tag.id %}">{{ tag.tag_text }} </a>
{% endif %}
{% endfor %}</b>


{% endblock %}
