{% extends "forum/base_detail_edit.html" %}

{% block title %} Q & A | Question{% endblock %}

{% block sectionContent %}
<div class="homecontent">
	
	<ul>
	{% load app_filters %}
	{% for answer in question.get_sorted_answers %}
		<li>
		<h2>{{ answer.answer_title|replaceimage|urlize  }}
		{% if user.username == answer.creator.username %}
			| <a href="{% url 'forum:editanswer' question.id answer.id %}" method="post">EDIT</a>
		{% endif %}
		| {% csrf_token %}
		Votes: {{ answer.votes }} | <a href="{% url 'forum:voteup' question.id answer.id %}" method="post">Vote Up</a> | <a href="{% url 'forum:votedown' question.id answer.id %}" method="post">Vote Down</a>
		</h2>
		<p> {% autoescape off %} {{ answer.answer_text|replaceimage|urlize  }} {% endautoescape %} </p>
		<p><b>Answered by {{ answer.creator }} on {{ answer.pub_date|date:'Y-m-d H:i' }} | Last Updated on {{ answer.mod_date|date:'Y-m-d H:i' }}
		
		</b>
		</li>
		
		
	{% endfor %}
	<li>
	<h3>Have a better answer?</h3>
	<div id="respond">
	<form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
	</div>
	</li>
	</ul>
	
</div>


{% endblock %}	