{% extends "forum/base.html" %}

{% block title %} Q & A | Upload Image{% endblock %}

{% block sectionHeader %}Upload Image{% endblock %}

{% block sectionText %}
Upload a new image below or view your uploaded images. To use your images on this forum, right click on the image, copy the link and then include it on your post!
{% endblock %}

{% block sectionContent %}
<div class="homecontent">
	
	<ul>
	<li>
	<h2>Uploaded Images</h2>
	
	<!-- List of uploaded documents -->
		{% if my_images %}
			<ul>
			{% for document in my_images %}
				<img src="{{ MEDIA_URL }}{{ document.imagefile }}" alt="" /><br />
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents.</p>
		{% endif %}
		<br />
	
	<h2>Upload New Image</h2>
	
	<div id="respond">
	<p>
		<form action="{% url "forum:upload_image" %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<ul>
			<li>{{ form.non_field_errors }}</li>
			<li>{{ form.imagefile.label_tag }} {{ form.imagefile.help_text }}</li>
			<li>
				{{ form.imagefile.errors }}
				{{ form.imagefile }}
			</li>
			<li> {{ form.errors }}</li>
			<li><input type="submit" value="Upload" /></li>
		</ul>
		</form>
	</p>
	</div>
	</li>
	</ul>
	
</div>


{% endblock %}	